block variables 

doctype html
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
    head
        title=meta.data.title
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content='lol')
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=meta.data.title)
        meta(name="twitter:description" content=meta.data.description)
        meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
        meta(name="og:title" content=meta.data.title)
        meta(name="og:description" content=meta.data.description)
        meta(name="og:image" content=meta.data.image ? meta.data.image.url : '')
        meta(name="og:type" content="website")

        script(src="/main.js" defer) 
        base(href=" ")
        link(rel="stylesheet"  href="/main.css")
    body 
        include ./partials/Preloader
        include ./partials/Header
        .cursor
        .load__container
            .load__screen
                img.load__screen__img(data-src='/hursun_cocosign.png')
        .content#content(data-template=template)
            block content  
    canvas.webgl 

 
    